/* Container for RowColSelector */
.row-col-selector {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-image: linear-gradient(
    90deg,
    rgb(238 36 184),
    rgb(232 113 165)
  ); /* Gradient similar to button */
  border-radius: 0.375rem; /* Rounded corners */
  box-shadow:
    rgba(35, 238, 136, 0.3) 0px 0px 12px,
    /* Outer shadow effect */ rgb(202 29 122) 0px -2px inset; /* Inset shadow effect */
}

.row-col-selector label {
  display: flex;
  align-items: center;
  color: var(--color-primary); /* Label text color */
  font-weight: 800; /* Bold label text */
}

.row-col-selector input {
  width: 60px;
  padding: 8px;
  margin: 0 10px;
  color: rgb(var(--primary) / 1);
  background-color: var(--color-primary); /* Input background color */
  border: none;
  border-radius: 0.375rem;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px,
    /* Outer shadow */ inset rgba(255, 255, 255, 0.6) 0px 2px 4px; /* Inset shadow for 3D effect */
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
}

.row-col-selector input:focus {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 4px 12px,
    /* Stronger outer shadow on focus */ inset rgba(255, 255, 255, 0.8) 0px 2px
      6px; /* Stronger inset shadow on focus */
  transform: scale(1.05); /* Slightly scale input on focus */
}

.row-col-selector input:hover {
  transform: scale(1.02); /* Slight scale effect on hover */
}

.row-col-selector button {
  padding: 0.5rem 1rem;
  background-color: rgb(var(--color-primary));
  color: white;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.row-col-selector button:hover {
  background-color: rgba(238, 36, 184, 0.9); /* Slight color change on hover */
}

.figure {
  width: 3px;
  height: 3px;
  background-color: black;
  margin: 1px;
}
