.game-grid-wrapper {
  width: 100%;
  min-height: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 345px;
}

.game-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.game-grid-row {
  display: flex;
  gap: 5px;
}

.mine-bg-basic {
  width: 50px;
  height: 50px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  border-radius: 4px;
}
