body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.App {
  width: 100%;
  text-align: center;
}

.game-frame {
  margin: 20px;
  height: 600px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: var(--bg-1);
}

@media screen and (max-width: 768px) {
  .game-frame {
    height: auto;
    flex-direction: column-reverse;
    margin: 0;
  }
}

.game-options {
  width: 33%;
  height: 100%;
  min-width: 320px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .game-options {
    width: 100%;
  }
}

.games-options__content {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .games-options__content {
    padding-bottom: 40px;
  }
}

.games-options__amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f635bf;
  border-radius: 8px;
  padding: 4px;
  transition: border-color 0.3s ease;
}

.focused {
  border-color: rgb(var(--primary) / 1);
}

.amount-input {
  width: 100%;
  border: none;
  color: rgb(var(--primary) / 1);
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  flex: 1 1 0%;
}

/* Hide the spinner for number inputs */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.amount-buttons {
  display: flex;
  gap: 4px;
}

.amount-btn {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(var(--layer5));
  color: rgb(var(--primary) / 1);
  padding: 8px 16px;
}

.amount-btn:hover {
  background-color: rgb(var(--layer6));
}

.games-options__mines {
  width: 100%;
  margin: 24px 0;
}

.games-options__mines h2 {
  color: rgb(var(--secondary) / 1);
  font-size: 16px;
  margin-bottom: 8px;
}

.row-col-selector-content {
  width: 100%;
  margin-bottom: 20px;
}

.row-col-selector-content h4 {
  color: rgb(var(--secondary) / 1);
  font-size: 16px;
  margin-bottom: 8px;
}

.game-content {
  border-radius: 0 8px 8px 0;
  position: relative;
  padding: 40px;
  gap: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url(../src/assets/bg-mines-dark.png);
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .game-content {
    gap: 20px;
    padding: 20px;
    border-radius: 0;
  }
}
